html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    background-color: #fff;
    color: #333;
    font-size: 15px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 400;
    text-decoration: none;
}

body button {
    outline: none;
    border: 0;
    background: transparent;
}

.form {
    width: 100%;
    display: inline-block;
    font-size: 32px;
    background-color: #e0e0e0;
}

.form p {
    line-height: 30px;
}

.message-list {
    height: calc(100vh - 326px);
    display: flex;
}

input[type=submit] {
    visibility: collapse;
}

input {
    outline: none;
    width: 80vw;
    height: 160px;
    padding-left: 32px;
    font-size: 32px;
    border: 0;
}

.input button {
    width: 20vw;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #757575;
}

.input {
    display: flex;
    flex-direction: row;
    background-color: #fff;
}

header {
    background-color: #8E24AA;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 15px 20px;
    height: 160px;
    align-items: center;
    line-height: 20px;
    color: #fcf9fd;
}

header button {
    color: #ffffff;
    outline: none;
    border: 0;
    background: transparent;
}

header .material-icons {
    font-size: 50px !important;
}

.material-symbols-outlined {
    font-variation-settings: 'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
}

.user-info {
    flex: 340px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.name {
    color: #fcf9fd;
    font-size: 40px;
    font-weight: bold;
    margin: 20px 0;
}

.time {
    color: #c590d4;
    font-size: 20px;
    margin: 0;
}

.user-info i {
    margin-right: 35px;
    font-size: 80px !important;
}

.user-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.buttons {
    flex-basis: 150px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.message-list {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    overflow: auto;
    overflow-x: hidden;
}

.message-list .message-bubble {
    margin: .5em;
}

.message-bubble {
    display: flex;
    flex-direction: column;
    max-width: 100%;
}

.message-bubble.my-message {
    flex-direction: row-reverse;
}

.message-bubble .message {
    position: relative;
    margin: 0 12px;
}

.message-bubble:last-child {
    /*transform: translateX(70%);*/
    /*animation: ani 1s forwards;*/
}

@keyframes ani {
    0% {
        transform: translateX(70%);
    }
    100% {
        transform: translateY(0);
    }
}

.message-bubble .message::before {
    position: absolute;
    right: auto;
    bottom: .6em;
    left: -12px;
    height: 0;
    content: '';
    border: 6px solid transparent;
    border-right-color: #ffffff;
    z-index: 2;
}

.message-bubble.my-message .message::before {
    right: -12px;
    bottom: .6em;
    left: auto;
    border: 6px solid transparent;
    border-left-color: #f3e5f5;
}

.message {
    background-color: #ffffff;
    padding: .5em;
    border-radius: 15px;
    font-weight: lighter;
    max-width: 70%;
    min-width: 10%;
    word-wrap: break-word;
}

.message-bubble.my-message .message {
    border-top: 1px solid #f3e5f5;
    border-bottom: 1px solid #f3e5f5;
    background-color: #f3e5f5;
    color: #000000;
}

.message time {
    color: #666666;
    font-size: 60%;
    margin-right: 10px;
}

.info {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.info i {
    color: #8E24AA;
}

.messenger-label {
    font-size: 3em;
}

.burger-label {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.burger-icon {
    margin-right: 50px;
}

.site-header-messenger {
    justify-content: space-between;
    padding: 0 50px 0 50px;
}

.messages {
    /*padding: 0 30px 0 30px;*/
    height: calc(100vh - 160px);
}

.messages button {
    color: black;
    outline: none;
    border: 0;
    background: transparent;
}

.dialogue {
    width: 100%;
    padding: 0 30px 0 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 2em;
}

.dialogue:active {
    background-color: #e0e0e0;
}

.dialogue:hover {
    background-color: #e0e0e0;
    transition: background-color 1s, transform 1s;
}

.dialogue-text {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid #666666;
}

.dialogue i:first-child {
    margin-right: 40px;
    font-size: 100px;
}

.dialogue-counter {
    display: inline-block;
    padding: 5px 7px 5px 7px;
    background-color: #8E24AA;
    border-radius: 40%;
    color: white;
}

.dialogue-nums {
    text-align: center;
    flex-direction: column;
    justify-content: center;
    font-size: 0.8em;
}

.dialogue-nums i {
    color: #8E24AA;
}

.dialogue-message {
    color: #757575;
    margin-top: 10px;
    font-size: 0.8em;
    justify-content: flex-start;
}

.dialogue-user-text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 10px 0 10px 0;
}

.dialogue-user-text p {
    margin: 15px 0 10px 0;
}

.new-message-btn {
    position: fixed;
    right: 80px;
    bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: #ffd54f;
    color: #756124;
    /*box-shadow: ...*/
}

.pulse {
    box-shadow: 0 0 0 rgba(204, 169, 44, 0.6);
    animation: none;
}

.pulse:hover {
    animation: pulse 2s infinite;
}

@-webkit-keyframes pulse {
    0% {
        -webkit-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0.6);
    }
    70% {
        -webkit-box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
    }
    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
    }
}

@keyframes pulse {
    0% {
        -moz-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0.6);
        box-shadow: 0 0 0 0 rgba(204, 169, 44, 0.4);
    }
    70% {
        -moz-box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
        box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
        box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
    }
}

.input button i{
    font-size: 1.5em;
}

.input button i:hover {
    animation: rotate 0.7s forwards;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(60deg);
    }
    100% {
        transform: rotate(0deg);
    }
}
